{% extends "admin/bars.html.twig" %}


{% block contenpage %}

                <h1 style=" margin-left : 500px ">Inscription</h1>
                <p>Bienvenue sur la page d'inscription, veuillez remplir les informations ci-dessous</p>
     

    <div  class="container">


            <div  class="row" id="blanc">
                <div class="col l12 m12 s12" id="rectangle">
                        {{ form_start(userForm) }}
                        <div class="input-field col s6">
                           {{ form_widget(userForm) }}
                        </div>


                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-warning" href="{{ path('app_admin_users') }}">{{ "backend.user.cancel"|trans }}</a>
                                <button type="submit" name="valider" class="btn btn-success">{{ "backend.user.register"|trans }}</button>
                            </div>
                        </div></div>
                        {{ form_end(userForm) }}
                            </div>
                    </div>




   {% endblock %}